.nav-item {
  .nav-link {
    display: flex;
    align-items: center;

    &.active {
      color: #fff;
      background: rgba(255, 255, 255, .23);
      opacity: 1;
    }
  }
}

.sidebar .nav a {
  transition: all 150ms ease-in;
}

.card-header {
  text-transform: uppercase;
}

.badge:empty {
  display: inline-block;
}

// .modal-backdrop-light {
//   background: theme-color("secondary");
//   opacity: .5;

//   &.modal-backdrop.show {
//     opacity: 0 !important;
//   }
// }
// .modal-backdrop.show {
//   opacity: 0.2 !important;
// }

// .modal-backdrop {
//   background: rgba(0,0,0,.1) !important;
//   }

.modal-content {
  height: -webkit-fill-available;
}

#borderThick {
  border-width: 4px;
}

#googleLoginButton {
  border-radius: 100px;
}

#userCardModal .modal-content {
    height: min-content;
}